@use '../../../UI.scss' as *;

.accordion {
  padding: 0 16px;
  box-shadow: 0px 2px 8px rgba(15, 85, 126, 0.04), 4px 4px 8px rgba(18, 102, 152, 0.08);
  border-radius: 8px;

  &__title {
    @extend %fonttextbig;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px 0;

    &::after {
      content: '';
      width: 14px;
      height: 8px;
      background: center/contain url(../../../assets/images/arrowdown_blue.svg) no-repeat;
      transition: all .5s;
    }

    &._active::after {
      transform: rotate(180deg);
    }
  }

  &__field {
    display: grid;
    grid-template-areas: 
      'a b c'
      'd e f'
      'g g g'
    ;
    grid-gap: 12px;
    overflow: hidden;
    transition: all .5s;

    &._active {
      padding-bottom: 16px;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;

    &:nth-child(1) { grid-area: a; }
    &:nth-child(1) { grid-area: b; }
    &:nth-child(1) { grid-area: c; }
    &:nth-child(1) { grid-area: d; }
    &:nth-child(1) { grid-area: e; }
    &:nth-child(1) { grid-area: f; }
    &:nth-child(1) { grid-area: g; }
  }
}

@media screen and (max-width: $breakpointmobile) {
  .accordion {
    &__title {
      font-size: 14px;
      line-height: 16px;
      padding: 14px 0;
    }

    &__field {
      grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f' 'g';
    }
  }
}